# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# OS X stuff
.DS_Store

build
bin

# Custom
HW1
HW2
HW3
HW4
HW5
HW6
